<!--
Grading partial
-->


<!--%= form_tag( url_for(:controller => 'problems', :action => 'update_test_data'), multipart: true, name: 'testdataform') do %-->
    <!-- TABS -->
  <div id="content-container">
    <div id="tabs-static" class="problem-base" style="padding-left:20px;"><!-- STATIC SECTION -->
       <h4>static grading</h4>
          <%if @inarr %>
            <%= label_tag(:input, "Input") %><br>
            <div style="display:inline-block;">
              <%c=1%>
              <% @inarr.each do |inp| %>
                <% inFile = File.new(inp, "r") %>
                <% if inFile %>
                  <% content = inFile.read %>
                  <% if @problem.active_probs.include?(c.to_s)%>
                    <%color = "background: #ff6085" %>
                  <% end %>
                  <%= text_field_tag :"in#{c}", content, style: color %><br>
                  <%c=c.to_i+1%>
                <% else %>
                  <% puts "Unable to open file!" %>
                <% end %>
              <% end %>
            </div>

            <%= label_tag(:output, "output") %><br>
            <div style="display:inline-block;">
              <%c=1%>
              <% @outarr.each do |out| %>
                <% outFile = File.new(out, "r") %>
                <% if outFile %>
                  <% content = outFile.read %>
                  <%= text_field_tag :"out#{c}", content%> 

              [enable/disable][bonus]<br>
                  <% c=c.to_i+1%>
                <% else %>
                  <% puts "Unable to open file!" %>
                <% end %>
              <% end %>
            </div> 
          
            <%= hidden_field_tag(:idnum, @problem.id) %>

            <div class="actions">
              <!--%= link_to button_tag( "add data", :class => 'btn btn-default add-data'), :action => 'makedir', :controller => 'problems'%-->

              <%= submit_tag "Refresh Data", :class => 'btn btn-default'%>, onclick: "$('#tabs').html('Submitting...');"%>
              <%= submit_tag "Add Data", :action => 'update_test_data', :class => 'btn btn-default', :controller => 'problems'%>
            </div>

         <% end %>

     </div>

    <div id="tabs-inter" class="problem-base" style="padding-left:20px;"><!--   interactiveA SECTION   -->
      <h4>Full interactive grading</h4>
      ie number guessing(low high)<br>
      SUBMIT ONE FILE<br>
      choose what to run first?<br>
      <%= file_field_tag 'script', style:"float:left" %>
      <div class="actions">
        <%= submit_tag 'Submit', style:"float:left;", class:"btn btn-default submit"%>
      </div><br><br><br>
    </div>

    <div id="tabs-genstat" class="problem-base" style="padding-left:20px;"><!--  IntereractiveB SECTION -->
      <h4>Single instance intereactive grading</h4>
      ie add two numbers from 1-100, we generate the number and compaire students output to that<br>ie arabic numerals to roman<br>
      
        <%= file_field_tag 'script', style:"float:left" %>
      
        <%= select("data_creation_type", "type",%w[Integers Strings Double_Integers], { :include_blank => true }, class: 'SlectBox') %>
       
      <!--%= select("person", "role_id", User.all.collect {|r| [ r.name, r.id ] }, { :include_blank => true }) %-->
      <br>
      <div class="actions">
        <%= submit_tag 'Submit', style:"float:left;", class:"btn btn-default submit", onclick: "$('#tabs-interB').html('Updating...');" %>
      </div><br><br>
    </div>

    <div id="tabs-sinter" class="problem-base" style="padding-left:20px;"><!-- semi Interactive SECTION -->
      <h4>semiinteractive grading!</h4>
      you pick data to submit, students output is compaired against your program's output<br>
      
      <%if @inarr %>
        <%= label_tag(:input, "Input") %>
        <div style="display:inline-block;">
          <%c=1%>
          <% @inarr.each do |inp| %>
            <% inFile = File.new(inp, "r") %>
            <% if inFile %>
              <% content = inFile.read %>
              <%= text_field_tag :"in#{c}", content%> <br>
              <% c=c.to_i+1%>
            <% else %>
              <% puts "Unable to open file!" %>
            <% end %>
          <% end %>
        </div>
      
        <%= hidden_field_tag(:idnum, @problem.id) %>

        <%= file_field_tag 'script', style:"float:left;display:inline-block;" %>

        <div class="actions">
          <%= submit_tag "Submit Test Data", :action => 'update_test_data', :class => 'btn btn-default', :controller => 'problems'%>
          <%= submit_tag "Add Test Case ", :action => 'update_test_data', :class => 'btn btn-default', :controller => 'problems'%>
          <%= submit_tag "Generate data from script", :action => 'update_test_data', :class => 'btn btn-default', :style => 'display:inline-block;', :controller => 'problems'%>
        </div>
      <% end %>
    </div>
  </div>
<!--% end %-->
<script>

  $( "input:radio" )
  .click(function () {
    var str = $(this).val();
    //alert(str);
    $( "#content-container" ).children().each(function() {
      $( this ).hide("slow");
    }); 
    $("#tabs-"+$( this ).val()).show("slow");
  });
  
  
$( document ).ready(function() {
    $( "#content-container" ).children().each(function() {
      $( this ).hide("slow");
    }); 
  $("#tabs-<%='static'%>").show("slow");
  //open right one?
});
 
  $(document).ready(function () {
            $('.SlectBox').SumoSelect({
			
			csvDispCount: 3 
			});
        });
</script>