<%@gradedjob = current_user.jobs.where({ problem_id: problem.id, graded: true}).first %>
<%@submittedjob = current_user.jobs.where({ problem_id: problem.id, submitted: true}).first %>
<%@attemptedjob = current_user.jobs.where({ problem_id: problem.id}).order("autopoints").last %>


<%if @gradedjob %>
  <%color = "#177500"%>
<%elsif @submittedjob  %>
  <%color = "#8c5100"%>
<%elsif @attemptedjob && @attemptedjob.points >0 %>
  <%color = "#007777"%>
<%elsif @attemptedjob && !(@attemptedjob.points >0) %>
  <%color = "#5e1313"%>
<%else%>
  <%color = "#494949"%>
<%end%>

<div id="p<%= problem.id %>" class="offset"></div>
<div  class="problem-base">
  <span  class="name" style="background-color: <%=color%> !important;"><span class="problem-title"><%= problem.title.titlecase() %></span>
    <span class="posted-info">
      <%if current_user.jobs.where({ problem_id: problem.id}).first %><!-- if submissions -->
        
          <%if @gradedjob %><div class="points">        <!-- submissions graded -->
            You have gotten <%=pluralize(@gradedjob.points, "point") %> out of 
            <%=pluralize(Problem.find(problem.id).points, "point") %>.</div><br>
            <div class="time">Graded on <%= @gradedjob.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{@gradedjob.updated_at.day.ordinalize}, at %I:%M %p")%></div>
          <%elsif @submittedjob %><div class="points">  <!-- if submissions but not graded -->
            You have submitted with <%=pluralize(@submittedjob.points, "point") %> out of 
            <%=pluralize(Problem.find(problem.id).points, "point") %>.</div><br>
            <div class="time">Submitted on <%= @submittedjob.updated_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{@submittedjob.updated_at.day.ordinalize}, at %I:%M %p")%></div>
          <%elsif @attemptedjob%><div class="points">   <!-- no submissions but attempted -->
            You have completed the problem with <%=pluralize(@attemptedjob.points, "point") %> out of 
            <%=pluralize(Problem.find(problem.id).points, "point") %>.</div><br>
            <div class="time">Completed on <%= @attemptedjob.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{@attemptedjob.created_at.day.ordinalize}, at %I:%M %p")%></div>
          <%end%>
      <%else%>    <!-- if not attempted -->
        <div class="points">You have not attempted</div><br>
        <div class="time">this problem.</div>
      <%end%>
    </span>
    <div id="problem-editing">
      <% if current_user && current_user.is_admin %><br>
         Created on <%= problem.created_at.in_time_zone("Eastern Time (US & Canada)").strftime("%B #{problem.created_at.day.ordinalize}, at %I:%M %p")%><br>        
        <%= link_to 'Show', problem %> | <%= link_to 'Edit', edit_problem_path(problem) %> | 
        <!--%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %-->
      <%= link_to 'Back', problems_path %>
      <% end %>
    </div> 
  </span>
  <div class="instructions"> 
    <div class="explanation"> <h3>Explanation:</h3> <pre><%= problem.explanation %></pre></div>
    <div class="separator"></div>
    <div class="exInOut"> 
      <span class=" exIn"> <h4>Example Input:</h4> <pre><%= problem.exIn %></pre> </span>
      <span class=" exOut"><h4>Example output:</h4><pre><%= problem.exOut %></pre></span>
    </div>

  </div>
  <% unless @gradedjob %>
  <div class="separator"></div>
    <div class="status">
      <%= render partial: "question_list.html.erb", locals:{problem: problem}%>
      <div id="result_<%= problem.id %>" class="submission"> No submission.</div>
    </div>
  <%end%>
  <span class="glyphicon glyphicon-plus expand" aria-hidden="true" onclick="$('#problemslist_<%=problem.id%>').slideToggle();"></span>
  <div class="collapse ps-problems-list" id="problemslist_<%=problem.id%>">
    <% unless current_user.jobs.where("problem_id= #{problem.id}").count.to_i <= 0 %>
      <%if false%> <!-- if the problem has been graded -->
        current_user.jobs.where({problem_id: problem.id}).
      <%else%>
        <% @submitted = current_user.jobs.where("problem_id= #{problem.id}").sort_by{|j| j.submitted.to_s}.last %>
        <%if @submitted.graded %>      <!--Graded-->
          Your problem has been graded, heres the code:<br>
          <% if File.exists?(@submitted.file_path) %><pre style="align:left;"><%=outFile = File.new(@submitted.file_path, "r").read%></pre>
          <% else %><pre style="align:left;">Output file unavalible ;(</pre><% end %>
        <%elsif @submitted.submitted %><!--Submitted-->
          You have submitted a problem for grading!<br>
          <%= link_to "Click here to reverse this action", :action => 'set_not_submitted', :controller => 'jobs', :id => @submitted.id%><br>
        <%else%>                       <!--Not Submitted-->
          There are no problems submitted to the teacher yet, click to view and submit it.<br>
          <table id="table<%=problem.id%>" class="tablesorter table-striped"> 
            <thead> 
              <tr>
                <th>File Name</th>
                <th>Submission date</th> 
                <th>Autograded points</th> 
              </tr> 
            </thead> 
            <tbody> 
              <% current_user.jobs.where("problem_id = #{problem.id}").sort_by{|j| j.points}.each do |j| %>
                <tr>     
                  <td><%= link_to "submit", job_path(j), remote: true  %> - <%= "#{j.file_path.split('/')} with id #{j.id}" %></td>
                  <td><%=j.created_at %></td> 
                  <td><%=j.autopoints %></td> 
                </tr>
              <%end%>
            </tbody> 
          </table> 
          
        <%end%>
      <%end%>
    <%else%>
      You have not submitted any problems for autograding.
    <%end%>
  </div>
 
</div>

<script>
$(document).ready(function() { 
    // call the tablesorter plugin 
    $("#table<%=problem.id%>").tablesorter({ 
        // sort on the first column and third column, order asc 
        sortList: [[2,1]]
    }); 
});
</script>