
<head>
  <title>Albert|Number-D</title>
</head>

<body>
   <!-- % SideBar % -->
  <div class="btn-group-vertical sidebarrules" >
      <% @problems.each do |a| %>
        <%= link_to(a.title, "#p#{a.title}", class: 'btn btn-default', type: "button")  %>
      <% end %>
  </div>

  <div class="container">
    <!--Listing problems -->
      <% @problems.each do |problem| %>
        <div id="p<%= problem.title %>" class="problem-base">
          <div class="title"> <span class="points">9042 points</span>
                              <span align="center" class="name"><%= problem.title %></span>
                              <span class="time">Submitted 10/24/14 at 10:23:42 AM</span>
            </div>

          <div class="explanation"> Explanation: <%= problem.explanation %>
            <div class="exInOut"> 
              <div class="exInOutSpaceing exIn"> Exin: </br><%= problem.exIn %> </div>
              <div class="exInOutSpaceing exOut">Exout:</br><%= problem.exOut %></div>
            </div>
          </div>
          <div class="status"> Status: 
            <%= render partial: "question_list.html.erb", locals:{problem: problem}%>
            <div id="result_<%= problem.id %>" class="submission"> No submission.</div>
          </div>
          <div>
            <%= link_to 'Show', problem %> | <%= link_to 'Edit', edit_problem_path(problem) %> | 
            <%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    <br>
  </div>

</body>
