

<!-- pretend there is stuff here thats like importaint and such-->
<body>
   <!-- % SideBar % -->
  <div class="sidebar" id="sidebar" >
      <% @problems.each do |a| %>
    <div class="sidebar-element">
      <%= link_to(a.title, "#p#{a.id}", class:"scrolll")%></div>
      <% end %>        
  </div>
  <div id="content">
    <div class="leaderBoards">
      
      <% ct = 1 %>
      <div class='leader-board-column'>
      <% @users.each do |u| %>
        <p><%= ct%><sup><%=ct.ordinalize[/[snrt][tdh]/]%></sup> <%=u.name%>: <%= u.points ||0%></p><!-- points or 0 if its nil -->
        <%= raw "</div>" if ct%4 ==0%>
        <%= raw "<div class='leader-board-column'>" if ct%4 ==0%>
        <% ct += 1%>
      <% end %>
      </div>
    </div>
    <div class="leader-board-separator">
      
    </div>
    <!--Listing problems -->
      <% @problems.each do |problem| %>
        <div id="p<%= problem.id %>" class="offset"></div>
        <div  class="problem-base">
          <span  class="name"><span class="title"><%= problem.title %></span>
          <span class="posted-info">
            <div class="points">You have gotten <%current_user%>9042 points</div><br>
            <div class="time">Created on <%= problem.created_at.strftime("%B #{problem.created_at.day.ordinalize}, at %I:%M %p")%> </div>                   
          </span>
       <% if current_user && current_user.is_admin %>
          <div id="problem-editing">
            <br>
            <%= link_to 'Show', problem %> | <%= link_to 'Edit', edit_problem_path(problem) %> | 
            <%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %>
            
          </div>
        <% end %>
          </span>
            
          
        <div class="instructions"> 
          <div class="explanation"> <h3>Explanation:</h3> <%= problem.explanation %></div>
              <div class="separator"></div>
                <div class="exInOut"> 
                  <span class=" exIn"> <h4>Example Input:</h4> <%= problem.exIn %> </span>
                  <span class=" exOut"><h4>Example output:</h4><%= problem.exOut %></span>
                </div>
          
        </div>
          <div class="separator"></div>
          <div class="status"> Status: 
            <%= render partial: "question_list.html.erb", locals:{problem: problem}%>
            <div id="result_<%= problem.id %>" class="submission"> No submission.</div>
          </div>

        </div>

      <% end %>
    <br>
    
  </div>
  </body>
