<%=@job.points%>

<% if File.exists?(@job.file_path) %>
  <pre><%=outFile = File.new(@job.file_path, "r").read%></pre>
<% else %>
  <pre>Output file unavalible ;(
  <%=@job.file_path%>
  </pre>
<% end %>




<%= form_for(@job) do |f| %>
  <div class="form-group new-problem-fields">
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this problem from being saved:</h2>
      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :style %><br>
    <%= f.number_field :style, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :function %><br>
    <%= f.number_field :function, class:"form-control" %>
  </div>
  <div class="field">
    <%= f.label :solution %><br>
    <%= f.number_field :solution, class:"form-control" %>
  </div>
      
  <div class="actions">
    <%= f.submit "Submit", class:"btn btn-default"%>
  </div>
    
<% end %>