<!--
Groups index
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title></title>
  </head>
  <body>

    <div class="name">Listing all Groups: </div> <br><br><br>
    <% @groups.each do |g| %>
    <div class="problem-base" style="min-height:300px;">
      <div class="title"> <%= link_to g.title, group_path(g) %>
        <span class="edit"><%= link_to 'Edit', edit_group_path(g) %></span>
      </div>
      <div class="group-explanation">About: <%=g.explanation%></div>
      <div class="exInOut"> 
         <span class=" exIn"> <h4>Users:</h4>
            <% g.users.each do |u| %>
              <%= link_to u.name, user_path(u)%>
              <%if admin? %><%= link_to '  Edit', edit_user_path(u) %><%end%><br>
            <% end %>
         </span>
         <span class="exOut"><h4>Problemsets:</h4>
            <% g.problemsets.each do |p| %>
              <%= link_to p.title, problemset_path(p)%>
              <%if admin? %><%= link_to '  Edit', edit_problemset_path(p) %><%end%><br>
            <% end %><br>
        </span>
      </div>
      <br><br>
    </div>
   <% end %>
  </body>
</html>
