<!--
Groups index
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="name">Listing all Groups: <%= link_to 'New Group', new_group_path, remote: true, id:"new-group-button" %></div> <br>
      <% @groups.each do |g| %>
        <div class="title"> <%= link_to g.title, group_path(g) %><span class="edit"><%= link_to 'Edit', edit_group_path(g) %></span></div>
           
    <br>Users:
    <% g.users.each do |u| %><br>
             <%=u.name%>
          <% end %><br><br>
    Problemsets:
          <% g.problemsets.each do |p| %>
             <%=p.title%>
          <% end %><br><br>
      <% end %>
    <br><br>

  </body>
</html>