<!--
Show Group
-->
<head>
  <% javascript_include_tag "assets/jquery-tablesorter" %>

</head>

<%@title = "Albert|group: #{@group.title}" %>


  <body>
    <span class="name"><%= @group.title %> (tis a group!)</span>
    <%= link_to 'Edit', edit_group_path(@group) %>
    <div>Users: <br>
      <% @group.users.each do |u| %>
        <%=u.name%>,
      <% end %>
    </div>
    <div>
      <% @group.problemsets.each do |p| %>
        <%=p.title%> 
      <% end %>
    </div>
    <% @group.get_leaderboard.each do |u| %>
   
    <%= u.name %> with <%= u.gpoints(@group)%> points.<br>
     <% end %>

      
      <table id="myTable" class="tablesorter table-striped"> 
        <thead> 
          <tr> 
            <th>User Name</th> 
            <th>Problem Name</th> 
            <th>Submission date</th> 
            <th>Attempt</th> 
            <th>Autograded points</th> 
          </tr> 
        </thead> 
        <tbody> 
          <% @group.users.each do |u| %>
            <% u.jobs.each do |j|%>
              <% if j.submitted %>
                <tr> 
                  <td><% if admin? %><%= link_to 'grade', grade_path(j), remote: true, id:"new-problem-button" %> | <%end%><%=u.name%></td> 
                  <td><%=Problem.find(j.problem_id).title %></td> 
                  <td><%=j.updated_at %></td> 
                  <td><%=j.attempt %></td> 
                  <td><%=j.points %></td> 
                </tr>
              <%end%> 
            <%end%>
          <%end%>
        </tbody> 
      </table> 

    
  </body>
