<!--
USER#SHOW
outFile = File.new(out, "r")
-->

  <head>
    <title>Profile of <%= @user.name %></title>
  </head>

  <body>
    <p>
      <span class="name"><%= @user.name %>'s Profile <%if @user.image%>
      <%= image_tag  @user.image,  class: "profile-pic"%><% end %>
      </span><br>
      Grade: <%= @user.grade %><br>
      Information:<br>
      <%if @user.about%>
        <%= @user.about %>
      <% end %>
    </p>


    <h2>Best Problems</h2>
      <div id="accordion-norm">
        <% @user.best.each do |h|%>         <!-- % @best.each do |b|%-->
          <%if h%>
            <%unless h[:job]%>
              <h3><%=h[:problem].title%> has not been completed and is worth <%=h[:problem].points%></h3>
              <div><%if h[:problem].problemsets.first%>
                      It's part of set <%=h[:problem].problemsets.first.title%>
                   <%else%>
                      It't not in a set yet!
                   <%end%>
              </div>
            <%else%>
              <%problem =  h[:problem]%>
              <%job =  h[:job]%>
              <% if job.points != 0%>
                <%if job.points >= problem.points%>
                  <%color = "green"%>
                <%else%>
                  <%color = "orange"%>
                <%end%>
              <%else%>
                <%color = "red"%>
              <%end%>
              <h3><%=problem.title%> points: 
                <span style="color: <%=color%>;"> <%= job.points%>/<%=problem.points%></span></h3>
              <div>
                <p>
                Your best result was attempt <%= job.attempt%>, with <%= job.points%> points<br>
                  Submitted: <%= job.created_at %><br>
                  Output: <%= job.previous_output %>
                  
                  <%= form_for(job) do |f| %>
                  <%= f.hidden_field :submitted, :value => true %>
                    <%= submit_tag "Submit", :action => 'set_submitted', :class => 'btn btn-default', :controller => 'jobs'%>
                  <%end%>
                </p>
                <%if File.exists?(h[:job].file_path)%>
                  <pre><%=outFile = File.new(h[:job].file_path, "r").read%></pre>
                <%else%>
                  <span style="background:#e0e0e0">File not found ☹☹☹☹☹☹☹☹</span>
                <%end%>
              </div>
            <%end%>
            <%end%>
          <%end%>
      </div>
      <br>
      You have <%= @user.points %> points in total.

<br><br>
    <% @user.groups.each do |g| %>
    <%= g.title %> | <%= @user.gpoints(g) %><br>
    <%end%>

    <h1>EVERYTHING BELOW HERE WILL BE REMOVED</h1>
    <!-- I want it to be better owen -->

    <h1>Problem data:</h1><br>
    <div id="accordion-collapse">
      <% @jobs.each do |j| %>
      <% begin %>
      <% if Problem.find(@user.jobs.find(u.id.to_i - 1).problem_id).title == Problem.find(j.problem_id).title %>
        <%= Problem.find(j.problem_id).title%>
      <%end%>
      <%rescue%><%= Problem.find(j.problem_id).title%><%end%>
      
      <%end%>
    </div>

    <!-- Old way -->

    <p>
      <h1>Problem data:</h1><br>
<% if @jobs.first %>
    <% num = @jobs.first.problem_id %>          
    <div id="accordion-collapse">
        <% @jobs.each do |j| %>              
            <% if num != j.problem_id %>
              
              <% curbest = @user.get_best(j.problem_id) %>
              <h2><% begin %>
                <%= Problem.find(j.problem_id).title%>
                <%rescue%>Deleted problem, blame Max. <%end%>
              </h2>
            <%end%>
      
            <% if num != j.problem_id && num != @jobs.first.problem_id%>
              <div>              
              <% num = j.problem_id %>
            <%end%>
            <!--begin listing problems-->
            Attempt number: <%= j.attempt%><br>
            <div class="data">
              Submitted: <%= j.created_at.strftime("%B #{j.created_at.day.ordinalize}, at %I:%M %p") %><br>
              Output: <%= j.previous_output%><br>
            </div>
            
          <% end %> 
              </div> 
      </div>
    <% end %> 
    </p>
  </body>
