<!--
USER#SHOW
-->

  <head>
    <title>Profile of <%= @user.name %></title>
  </head>

  <body>
    <p>
      <span class="name"><%= @user.name %>'s Profile <%if @user.image%>
      <%= image_tag  @user.image,  class: "profile-pic"%><% end %>
      </span><br>
      Grade: <%= @user.grade %><br>
      Information:<br>
      <%if @user.about%>
        <%= @user.about %>
      <% end %>
    </p>


    <h2>Best Problems</h2>
      <div id="accordion">
        <% @user.best.each do |h|%>         <!-- % @best.each do |b|%-->
          <%if h%>
            <%unless h[:job]%>
              <h3><%=h[:problem].title%> has not been completed and is worth <%=h[:problem].points%></h3>
        <div>It's part of set <%=h[:problem].problemsets.first.title%></div>
            <%else%>
              <%problem =  h[:problem]%>
              <%job =  h[:job]%>
              <%if problem.points == job.points%>
                <%color = "green"%>
              <%else%>
                <%color = "red"%>
              <%end%>
              <h3><%=problem.title%> points: 
                <span style="color: <%=color%>;"> <%= job.points%>/<%=problem.points%></span></h3>
              <div>
                <p>
                Your best result was attempt <%= job.attempt%>, with <%= job.points%> points<br>
                  Submitted: <%= job.created_at %><br>
                  Output: <%= job.previous_output %>
                </p>
              </div>
            <%end%>
            <%end%>
          <%end%>
      </div>
      <br>
      You have <%= @user.points %> points in total.

<br><br>
    <% @user.groups.each do |g| %>
    <%= g.title %> | <%= @user.gpoints(g) %><br>
    <%end%>


    
    <!-- I want it to be better owen -->
    <!--div>
      <h1>Problem data:</h1><br>
      <% @user.jobs.each do |u| %>
     <%end%>
    </div-->

    <!-- Old way -->

    <p>
      <h1>Problem data:</h1><br>

        <% num = 0 %>
        <% @jobs.each do |j| %>              
          <div id="accordion">
            <% if num != j.problem_id %>
              <% num = j.problem_id %>
              <% curbest = @best[j.problem_id] %>
              <% begin %>
                <h2><%= Problem.find(j.problem_id).title%></h2>
                Your best result was attempt <%= @best[j.problem_id].attempt%>, with <%= curbest.points%> points
                <br><br>
              <%rescue%>Deleted problem, blame Max. <%end%>
            
            <%end%>
            <div>
            <!--begin listing problems-->
            Attempt number: <%= j.attempt%><br>
            <div class="data">
              Submitted: <%= j.created_at %><br>
              Output: <%= j.previous_output%><br>
            </div>
              
            </div>
          </div> 
        <% end %>
    </p>
  </body>
