<%= form_for(@problem_completion) do |f| %>
  <% if @problem_completion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem_completion.errors.count, "error") %> prohibited this problem_completion from being saved:</h2>

      <ul>
      <% @problem_completion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :problemname %><br>
    <%= f.text_field :problemname %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :previousOutput %><br>
    <%= f.text_area :previousOutput %>
  </div>
  <div class="field">
    <%= f.label :attempt %><br>
    <%= f.number_field :attempt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
