<h1>Listing problem_completions</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Problemname</th>
      <th>Score</th>
      <th>Previousoutput</th>
      <th>Attempt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @problem_completions.each do |problem_completion| %>
      <tr>
        <td><%= problem_completion.username %></td>
        <td><%= problem_completion.problemname %></td>
        <td><%= problem_completion.score %></td>
        <td><%= problem_completion.previousOutput %></td>
        <td><%= problem_completion.attempt %></td>
        <td><%= link_to 'Show', problem_completion %></td>
        <td><%= link_to 'Edit', edit_problem_completion_path(problem_completion) %></td>
        <td><%= link_to 'Destroy', problem_completion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Problem completion', new_problem_completion_path %>
