<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @problem_completion.username %>
</p>

<p>
  <strong>Problemname:</strong>
  <%= @problem_completion.problemname %>
</p>

<p>
  <strong>Score:</strong>
  <%= @problem_completion.score %>
</p>

<p>
  <strong>Previousoutput:</strong>
  <%= @problem_completion.previousOutput %>
</p>

<p>
  <strong>Attempt:</strong>
  <%= @problem_completion.attempt %>
</p>

<%= link_to 'Edit', edit_problem_completion_path(@problem_completion) %> |
<%= link_to 'Back', problem_completions_path %>
