<!--
  Problemsets show
  seems functionally complete
-->
      <h1><%=@problemset.title%></h1> <%= link_to 'Edit', edit_problemset_path(@problemset) %> | <%= link_to 'Back', problemsets_path %>
      <h3><%=@problemset.explanation%></h3>

      <% @problemset.problems.each do |problem| %>
        <%= render partial: "render_problem.html.erb", locals:{problem: problem}%>
      <%end%>

