
<div id="p<%= problem.id %>" class="offset"></div>
<div  class="problem-base">
  <span  class="name"><span class="title"><%= problem.title.titlecase() %></span>
    <span class="posted-info">
      <%if current_user.jobs.where("problem_id = #{problem.id}").first %>
      <div class="points">You have gotten <%=pluralize(current_user.jobs.where("problem_id = #{problem.id}").order("points").last.points, "point") %> out of 
        <%=pluralize(Problem.find(problem.id).points, "point") %>.</div><br>
        <div class="time">Submitted on <%= current_user.jobs.where("problem_id = #{problem.id}").order("points").last.created_at.in_time_zone("Eastern Time (US & Canada)")%></div>                   
      <%else%>
        <div class="points">You have not attempted this problem.</div><br>
        <div class="time">No submission time.</div>

      <%end%>
    </span>
    <div id="problem-editing">
      <% if current_user && current_user.is_admin %>
        <br>
         Created on <%= problem.created_at.strftime("%B #{problem.created_at.day.ordinalize}, at %I:%M %p")%><br>        

        <%= link_to 'Show', problem %> | <%= link_to 'Edit', edit_problem_path(problem) %> | 
        <!--%= link_to 'Destroy', problem, method: :delete, data: { confirm: 'Are you sure?' } %-->
      <% end %>
      <%= link_to 'Back', problems_path %>
    </div>
  </span>
  <div class="instructions" > 
    <div class="explanation"> <h3>Explanation:</h3> <pre><%= problem.explanation %></pre></div>
    <div class="separator"></div>
    <div class="exInOut"> 
      <span class=" exIn"> <h4>Example Input:</h4> <pre><%= problem.exIn %></pre> </span>
      <span class=" exOut"><h4>Example output:</h4><pre><%= problem.exOut %></pre></span>
    </div>

  </div>
  <div class="separator"></div>
  <div class="status"> Status: 
    <%= render partial: "question_list.html.erb", locals:{problem: problem}%>
    <div id="result_<%= problem.id %>" class="submission"> No submission.</div>
  </div>

</div>