<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Albert"%></title>

    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="modal-container" class="modals" onclick="$('.modals').animate({opacity:'0'}, 200); $('.modals').hide();">
      <div id="background">
      </div>
    </div>
    <div id="modal" class="modals">  
    </div>

  <%= render partial: "layouts/header" %>
  
  <div style="margin-top:0px;"></div>
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in aontop alert-success">
      <%= message %>
      <button class="close" data-dismiss="alert">×</button>
    </div>
  <% end %>
  
<div id="container">
	<%= yield %>
</div><br>

<div id="footer">
  <div id="footer-contents">
     Copyright &#169; 2014 AlbertLabs. All Rights Reserved.
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58170547-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
  
</html>