<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "Albert"%></title>

    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="modal-container" class="popups modals dialogues" onclick="$('.popups').animate({opacity:'0'}, 200); $('.popups').hide();">
      <div id="background">
      </div>
    </div>
    <div id="modal" class="popups modals">  
    </div> 
    <div id="dialogue" class="popups dialogues">  
    </div>
    
  <%= render partial: "layouts/header" %>
  
<!--   <div style="margin-top:50px;"></div> -->
  <% flash.each do |type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> fade in aontop">
      <%= message %>
      <button class="close" data-dismiss="alert">×</button>
    </div>
  <% end %>
  
<main>
	<%= yield %>
</main>

<footer>
  Copyright &#169; 2015 <%= link_to "AlbertLabs", about_path %>. All Rights Reserved.
</footer>

</body>
  
</html>