<!DOCTYPE html>
<html>
<head>
  <title>Albert</title>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

      <nav class="nav navbar-nav main">
        <!-- Links container -->
        <span class="links" role="navigation" style="z-index:90">
        <%= link_to "Albert", root_path(anchor: "page-top"), class:"navbar-button navbar-main" %>            
        <!-- If ADMIN ACCESS -->
            <%= link_to 'New problem', new_problem_path, class:"navbar-button" %> 
        </span>
          <span id="user-info">
          <% if current_user %>
          <span class="dropdown">
            <a href="#" class="dropdown-toggle " data-toggle="dropdown"> <%= image_tag("gear.png", :class => "dropdown-toggle gearimage")%> </b>
            </a>
            <ul class="dropdown-menu pull-right">
              <li><strong><%= current_user.name %></strong></li>
              <li><%= link_to "Profile", '#' %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li><%= link_to "Users", '#' %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", signout_path, id: "sign_out" %></li>
            </ul>
          </span>

          <% else %>
            <span><%= link_to image_tag("gear.png", :class => "gearimage"), "/auth/google_oauth2", id: "sign_in"%></span>
          <% end %>
          </span>
    </nav>








<div id="container">
	<%= yield %>
</div>


</body>
</html>
